/* DEFOLT STYLES */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

address {
  font-style: normal;
}
button {
  cursor: pointer;
  border: none;
}

/* DEFOLT STYLES */

/* MOBILE */

/* MOBILE HEADER */

.nav-list,
.contacts {
  display: none;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  padding: 16px 0;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.half-logo {
  color: #2e2f42;
}

.mobile-menu-open-button {
  background-color: transparent;
}

/* MOBILE HERO */

.hero-section {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 767px;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office-mob@2x.jpg");
  }
}

.page-title {
  max-width: 288px;
  padding: 0 60px;
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
}

.hero-button {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  color: #ffffff;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* SECTION */

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}

/* MOBILE ADVANTAGES */

.advantages-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 72px;
}

.advantages-div {
  display: none;
}
.advantages-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.advantages-paragraph {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* MOBILE TEAM */

.section-third {
  background-color: #f4f4fd;
}

.workers-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
}

.name-position {
  padding-top: 32px;
  padding-bottom: 32px;
}

.list-workers {
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}

.worker-name {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.worker-position {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.worker-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.media-icon {
  width: 40px;
  height: 40px;
}

.media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover,
.media-link:focus {
  background-color: #404bbf;
}

.worker-svg {
  fill: #f4f4fd;
}

/* MOBILE PORTFOLIO */

.apps-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.apps-list-item {
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.apps-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.apps-name-category {
  padding: 32px 16px;
  border-top: none;
  border: 1px solid #e7e9fc;
}

.product-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}

.product-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.apps-cont {
  position: relative;
  overflow: hidden;
}

.apps-par {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.apps-list-item:hover .apps-par {
  transform: translateY(0%);
}

/* MOBILE FOOTER */

.footer-class {
  padding-top: 98px;
  padding-bottom: 96px;
  background-color: #2e2f42;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.footer-logo {
  margin-bottom: 18px;
  text-align: center;
  padding: 0;
}

.half-footer-logo {
  color: #f4f4fd;
}

.footer-paragraph {
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 288px;
}

.footer-par {
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-media {
  display: flex;
  gap: 16px;
}

.footer-icon {
  width: 40px;
  height: 40px;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 8px 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-svg {
  fill: #f4f4fd;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.footer-form-input {
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: transparent;
  padding-left: 16px;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-form-input::placeholder {
  color: #ffffff;
  opacity: 0.6;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-input:focus {
  outline: transparent;
}

.footer-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  padding: 8px 24px;
  border-radius: 4px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  fill: #ffffff;
  background-color: #4d5ae5;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:focus,
.footer-form-button:hover {
  background-color: #404bbf;
}

.footer-button-form-svg {
  margin-left: 16px;
}

/* MOBILE MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  max-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 16px 16px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  fill: #2E2F42;
}

.modal-button:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  width: 256px;
}

.form-div-first {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-label-first {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.div-input-first {
  height: 40px;
  position: relative;
}

.input-first {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-first:focus {
  border-color: #4d5ae5;
}

.input-first:focus + .modal-form-svg {
  fill: #4d5ae5;
}

.modal-form-svg {
  position: absolute;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 16px;
  top: 50%;
}

.modal-form-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}

.modal-form-textarea:focus {
  border-color: #4d5ae5;
}

.modal-form-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-checkbox-label-span {
  min-width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.modal-form-send-button {
    display: block;
    border-radius: 4px;
    background-color: #4d5ae5;
    color: #ffffff;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-send-button:hover,
.modal-form-send-button:focus {
    background-color: #404bbf;
}

.modal-checkbox-input:checked
  + .modal-checkbox-label
  .modal-checkbox-label-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-checkbox-privacy-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #4d5ae5;
}

.modal-checkbox-privacy-link:hover,
.modal-checkbox-privacy-link:focus {
    color: #404bbf;
}

/* MOBILE MENU */

/* mobile container */

@media screen and (min-width: 320px) {
    .container {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*  */

@media screen and (max-width: 767px) {
  .mobile-menu-open-button {
      background-color: transparent;
      padding: 0;
      line-height: 0;
      fill: #2f2f37;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mobile-menu-open-button:hover,
.mobile-menu-open-button:focus {
  fill: #404bbf;
}

.mobile-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 24px 24px 40px 16px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 999999999999;
    transform: translateX(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  transform: translateX(100%)
}

.mobile-menu-container {
  max-width: 320px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: rgba(231, 233, 252, 0.1);
  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 50%;
  padding: 0;
  line-height: 0;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-button:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.mobile-menu-close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.mobile-menu-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px
}

.mobile-nav-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #404bbf;
}

.mobile-menu-contacts{
  margin-bottom: 48px;
}

.mobile-menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu-contacts-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contacts-link:hover,
.mobile-menu-contacts-link:focus {
  color: #4d5ae5;
}

.mobile-menu-socials-list {
  display: flex;
  gap: 40px;
}

.mobile-menu-socials-link {
  display: block;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-socials-link:hover,
.mobile-menu-socials-link:focus {
  background-color: #31D0AA;
}

.mobile-menu-socials-svg {
  fill: #f4f4fd;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .container {
      width: 768px;
  }

/* TABLET HEADER*/

.mobile-menu-open-button,
.mobile-menu {
  display: none;
}

.nav-div {
  display: flex;
  gap: 120px;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-links {
  display: block;
  overflow: hidden;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-links:hover,
.nav-list-links:focus {
  color: #404bbf;
}

.studio-link {
  color: #404bbf;
  position: relative;
}

.studio-link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
}

.contacts {
  display: block;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contacts-links {
  color: #434455;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-links:hover,
.contacts-links:focus {
  color: #404bbf;
}

/* TABLET HERO */

.hero-section {
  padding: 112px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)),url('../images/people-office.jpg');
  max-width: 1440px;
  }

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
.hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)),url('../images/people-office@2x.jpg');
}
  }

.page-title {
  max-width: 498px;
  padding: 0;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
  font-size: 56px;
  line-height: 1.07;
  text-transform: none;
}

/* TABLET ADVANTAGES */

.advantages-list {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 72px;
}

.advantages-item {
  width: calc((100% - 24px) / 2);
}

/* TABLET TEAM */

.workers-list {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 64px;
}

.list-workers {
  flex-wrap: calc((100% - 24px) / 2);
}

/* TABLET PORTFOLIO */

.apps-list {
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 72px;
  gap: 24px;
}

.apps-list-item {
  width: calc((100% - 24px) / 2);
}

/* TABLET_FOOTER */

.footer-inner {
  padding-left: 108px;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: start;
  align-items: baseline;
}

.footer-logo {
  text-align: left;
}

.footer-paragraph {
  max-width: 264px;
}

.footer-par {
  text-align: left;
}

.footer-form {
  flex-direction: row;
  gap: 24px;
}

.footer-form-input {
  width: 264px;
}

/*tablet modal */

.modal-window {
  width: 408px;
  max-height: 584px;
  padding-left: 24px;
  padding-right: 24px;
}

.modal-form {
  width: 360px;
}

}
/* DESKTOP */

@media screen and (min-width: 1158px) {
  .container {
      width: 1158px;
  }

/* DESKTOP HEADER */

.nav-div {
  gap: 76px;
}

.contacts-list {
  flex-direction: row;
  gap: 40px;
}

.contacts-links {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* DESKTOP HERO */

.hero-section {
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  max-width: 496px;
  margin-bottom: 48px;
}

/* DESKTOP ADVANTAGES */

.advantages-list {
  row-gap: 0;
}
.advantages-item {
  width: calc((100% - 72px) / 4);
}

.advantages-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
}

.advantages-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.advantages-paragraph {
  font-weight: 400;
}

/* DESKTOP TEAM */

.workers-list {
  flex-wrap: nowrap;
}

.list-worker {
  width: calc((100% - 72px) / 4);
}

/* DESKTOP PORTFOLIO */

.apps-list-item {
  width: calc((100% - 48px) / 3 );
}

/* DESKTOP FOOTER */

.footer-inner {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-left: 15px;
}

.footer-cont {
  margin-right: 120px;
}

.footer-socials {
  margin-right: 80px;
}

.footer-form-input {
  border-color: #ffffff;
}

.footer-form-input::placeholder {
  opacity: 1;
}

/* DESKTOP MODAL */

.modal-form {
  width: 360px;
}

.input-first {
  height: 40px;
  padding-left: 38px;
}

}